:root {
  --primary-color: #009879;
}

h1 {
  font-size: 2rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  padding-inline: 1.5rem;
}

table {
  width: 100%;
  box-shadow: 0px 0px 7px 0px #80808075;
  margin-block: 2rem;
  border-collapse: collapse;
  min-height: 40vh;
}
thead {
  background-color: var(--primary-color);
  color: white;
}
tr {
  height: 2.5rem;
  font-size: 0.8rem;
  box-shadow: 0px 0px 1px 0px grey;
}
th,
td {
  padding-inline: 1rem;
}
tfoot tr {
  height: 0.1rem;
  background-color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  font-size: 0.8rem;
  padding-inline: 1rem;
  padding-block: 0.6rem;
}

span.btn {
  margin-inline: 1rem;
}
